.contianer {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-contianer img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .contianer {
    grid-template-columns: 1fr;
  }
  .contant {
    padding: 20px 0px;
  }
}
