.best-sallers {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.best-sallers-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.best-sallers-collections-description {
  margin: 0;
  color: #666;
  font-size: 16px;
  line-height: 1.7;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  width: 100%;
}

/* Tablet */
@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
  }
}
