.search-container {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
}

.search-input {
  flex: 1;
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.search-input:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #f2f2f2;
}

.search-icon {
  width: 24px;
}

.cross-icon {
  width: 18px;
}

@media (max-width: 600px) {
  .search-input {
    font-size: 0.9rem;
    padding: 10px;
  }

  .search-icon {
    width: 20px;
  }
}
